.imgPdp {
  width: 250px;
  height: 250px;
  padding: 10px;
}

.imgPdpView {
  text-align: center;
}

/* ===Add to Bag start=== */

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
}

.btn_pdp--underlines {
  padding-top: 20px;
  display: inline-block;
  color: #f06060;
  transition: all 300ms ease-in-out;
}

.btn_pdp--underlines-container {
  text-align: center;
}

.btn_pdp--underlines-container svg {
  display: block;
  margin: 0 auto;
}

.btn_pdp--underlines-container .btn_pdp--underlines + svg path {
  fill: #f06060;
}

/* ===Add to Bag end=== */

.pdpTitle {
  font-size: 30px;
  font-weight: 800;
}

.pdp__spec {
  display: block;
  font-size: 14px;
  color: #adaaaa;
  margin-bottom: 16px;
}

.pdp_price {
  color: #555555;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
}

.pdp__desc {
  padding: 12px 0;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #342f2f;
}

.btn--submit {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50%);
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out,
    transform 300ms ease-in-out;
  z-index: 5;
}

.btn--circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.btn--default {
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #f06060;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  bottom: 10%;
  border-color: transparent;
  left: 40%;
}

.mblViewCn {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mblViewCn {
    display: block;
    padding: 10px 16px;
  }

  .mbPdpView {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }

  .imgPdp {
    width: 250px;
    height: 250px;
  }

  .btn--submit {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}

.expandPanel {
  margin-bottom: 10px;
}

.pdpExpandPanel {
  text-transform: uppercase;
  color: #555;
  font-weight: 700;
  padding: 15px 15px 15px 20px;
  border: 1px solid #ececec;
}

.plusSvgIcon {
  width: 14px;
  margin-right: 15px;
}

.pdpDescDetail {
  border: 1px solid #ececec;
  font-size: 14.5px;
  color: #555;
  padding: 0 10px;
}
